@model Proyecto_SENA.Models.Tbl_Evaluacion_Etapa_Productiva

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detalles</h2>
<h4>Evaluacion Etapa Productiva</h4>
<div>
    <label>Juicio de evaluacion: </label> @Html.DisplayFor(model => model.Juicio_Evaluacion)<br />
    <label>Reconocimientos: </label> @Html.DisplayFor(model => model.Reconocimientos)<br />
    <label>Aprendiz: </label> @Html.DisplayFor(model => model.Tbl_Aprendices.Nombres) @Html.DisplayFor(model => model.Tbl_Aprendices.Apellidos)<br />
    <label>Identificacion: </label> @Html.DisplayFor(model => model.Tbl_Aprendices.Numero_Identificacion)<br />

</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Evaluacion }) |
    @Html.ActionLink("Volver", "Index")
</p>
