@model Proyecto_SENA.Models.Tbl_Evaluacion_Etapa_Productiva

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Evaluacion Etapa Productiva</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Evaluacion)
        @Html.HiddenFor(model => model.Id_Aprendiz)

    <div class="form-group">
        <label>Juicio de evaluacion</label><br />
        <div class="form-check">
            @Html.RadioButtonFor(model => model.Juicio_Evaluacion, "Aprobado", new { @name = "Juicio_Evaluacion" })
            <label class="form-check-label">Aprobado</label>
            @Html.RadioButtonFor(model => model.Juicio_Evaluacion, "No aprobado", new { @name = "Juicio_Evaluacion" })
            <label class="form-check-label">No aprobado</label>
        </div>
        @Html.ValidationMessageFor(model => model.Juicio_Evaluacion, "", new { @class = "text-danger" })
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reconocimientos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reconocimientos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reconocimientos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-info" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
