@model Proyecto_SENA.Models.Tbl_Usuarios

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre de usuario</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Roles.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Roles.Rol)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
