@model Proyecto_SENA.Models.Tbl_Aprendices

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Identificacion</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            <label>Ficha</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Fichas.Numero_Ficha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Empresa", "empresa", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Planeacion", "planeacion", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Factores Actitudinales", "Factores_Actitud", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Factores Tecnicos", "Factores_Tecnicos", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Evaluacion", "Evaluacion", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Volver", "Back", new { ficha = Model.Id_Ficha })
</p>
