@model Proyecto_SENA.Models.Tbl_Aprendices

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<h4>Aprendiz </h4>
<div>
    <label>Identificacion: </label> @Html.DisplayFor(model => model.Numero_Identificacion)<br />
    <label>Nombres: </label> @Html.DisplayFor(model => model.Nombres)<br />
    <label>Apellidos: </label> @Html.DisplayFor(model => model.Apellidos)<br />
    <label>Telefono: </label> @Html.DisplayFor(model => model.Telefono)<br />
    <label>Correo: </label> @Html.DisplayFor(model => model.Correo)<br />
    <label>Ficha: </label> @Html.DisplayFor(model => model.Tbl_Fichas.Numero_Ficha)<br />
</div>
<p>
    @Html.ActionLink("Empresa", "empresa", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Planeacion", "planeacion", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Factores Actitudinales", "Factores_Actitud", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Factores Tecnicos", "Factores_Tecnicos", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Evaluacion", "Evaluacion", new { id = Model.Numero_Identificacion, etapa = ViewBag.etapa }) |
    @Html.ActionLink("Volver", "Back", new { ficha = Model.Id_Ficha })
</p>
