@model Proyecto_SENA.Models.Tbl_Empresas
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<h4>Empresa</h4>
<div>
    <label>Empresa: </label> @Html.DisplayFor(model => model.Razon_Social)<br />
    <label>Nit: </label> @Html.DisplayFor(model => model.Nit)<br />
    <label>Direccion: </label> @Html.DisplayFor(model => model.Direccion)<br />
    <label>Jefe: </label> @Html.DisplayFor(model => model.Nombre_Jefe)<br />
    <label>Cargo: </label> @Html.DisplayFor(model => model.Cargo)<br />
    <label>Telefono: </label> @Html.DisplayFor(model => model.Telefono)<br />
    <label>Correo: </label> @Html.DisplayFor(model => model.Correo)<br />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Empresa, etapa = ViewBag.etapa}) |
    @Html.ActionLink("Volver", "Back", new { id = Model.Id_Aprendiz, etapa = ViewBag.etapa})
</p>
