@model Proyecto_SENA.Models.Tbl_Empresas
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresa</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label>Empresa</label>
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.Razon_Social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            <label>Jefe</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Jefe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Empresa, etapa = ViewBag.etapa}) |
    @Html.ActionLink("Volver", "Back", new { id = Model.Id_Aprendiz, etapa = ViewBag.etapa})
</p>
